{% extends "base.html" %} {% block title %}Employees{% endblock %}{%block navbar%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/Home">
    <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Western_Digital_brand_mark.svg" width="50" height="25" class="d-inline-block align-top">
    Western Digital
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggler="collapse"
    data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <!-- Navbar Buttons -->
    <div class="navbar-nav">
      <!-- Add icons -->
      {% if user.is_authenticated %} {% if user.isManager == 'Y' %}
      <a class="nav-iten nav-link" id="manager" href="/Manager">Manager View</a>
      {% endif %}
      <a class="nav-iten nav-link" id="home" href="/Home">Home</a>
      {% if user.isManager == 'Y' %}
      <a class="nav-iten nav-link" id="quiz" href="/Employees">Employees</a>
      <a class="nav-iten nav-link" id="add_quiz" href="/AddCourses">Add Courses</a>
      {% endif %}
      <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
      {% else %}
      <a class="nav-iten nav-link" id="login" href="/Login">Login</a>
      {% endif %}
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
  <h1 class="welcomeHeader">Welcome <b>{{user.firstname}}</b>!</h1>
  <div class ="container-fluid">
    <form method="POST">
      <h1 align="center">Employees in {{user.department}}</h1>
      <div class="container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">EmployeeID</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">View Progress</th>
            </tr>
            </thead>
            <tbody>
            <!-- Super Manager view  -->
            {%if user.isSupManager == 'Y'%}
              {%for user in user.employees%}
              <tr>
                <th scope="row">{{user.id}}</th>
                <td><a href="/EmployeeList/m_id={{user.id}}">{{user.firstname}}</td> 
                <td><a href="/EmployeeList/m_id={{user.id}}">{{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.manager}}</td>
                <td><a href="/Progress/e_id={{user.id}}">View Progress</td>
              </tr>
              {% endfor %}  
            {%endif%}
            <!-- Manager view  -->
            {%if user.isSupManager == 'N'%}
              {%for user in user.employees%}
              <tr>
                <th scope="row">{{user.id}}</th>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.manager}}</td>
                <td><a href="/Progress/e_id={{user.id}}">View Progress</td>
              </tr>
              {% endfor %}           
            {%endif%}
            </tbody>
            {%if user.isSupManager == 'Y' and user.isManager == 'Y'%}
            <tfoot>
              <tr>
                  <th colspan="1">Total employees: </th>
                  <td> {{totalManager}} employees </td>
              </tr>
            </tfoot>
          {%endif%}
          {%if user.isSupManager == 'N' and user.isManager == 'Y'%}
          <tfoot>
            <tr>
                <th colspan="1">Total Employees: </th>
                <td> {{totalManager}} employees </td>
            </tr>
          </tfoot>
        {%endif%}
        </table>
      </div>
    </form>
  </div>

<!--overall employee completed-->     
<div class="piechartDiv">
  <div id="piechart"></div>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">

  // Load google charts
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  // Draw the chart and set the chart values
  function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Number of Employee', 'Progress'],
  ['Courses Completed in {{user.department}}', {{completed}}],
  ['Courses Incomplete in {{user.department}}', {{totalCourse}}-{{completed}}],
  ]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':' {{user.firstname}}\'s Employees Progression Pie Chart', 'width':800, 'height':500};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
  }
  </script>
</div>   
<br>
<div class ="container-fluid">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>All Courses</th>
      </tr>
    </thead>
    <tbody>
      {% for course in current_user.courses%}
      <tr>
        <td><a href="/ProgressPieChart/c_id={{course.idcourses}}">{{course.courseTitle}} Progress</a></td>
      </tr>
      {%endfor%}
    </tbody>
</div>
</html>


{% endblock %}