{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block content %}
<body>
<a class="navbar-brand" href="/Home">
    <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Western_Digital_brand_mark.svg" width="50" height="25" class="d-inline-block align-top">
    Western Digital
  </a>
    <h1 class="titleLog" style="text-align:center">Western Digital Training</h1>
    {% with message = get_flashed_messages(category_filter=["error"]) %}
    {%if message %}
     {% for message in get_flashed_messages() %}
      <div class="alert alert-danger" role="alert">
        {{ message }}
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %} {% endif%} {% endwith %}
    <form method="POST">
        <!-- email is the attribute to send to backend -->
        <div class="container-login">
              <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter Email Address"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter Password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Login</button>
        </div>        
    </form>
</body>
</html>
{% endblock %}
